aside {
    position: absolute;
    top: 160px;
    right: 63px;
    width: 170px;
    height: 450px;
    border: 3px solid rgb(251, 0, 255);
    padding: 5px;
    background-color: rgba(251, 0, 255, 0.1);
    color: white;
    h3 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}

h1 {
    color: white;
    position: relative;
    right: 0;
    left: 530px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


header{
    position: absolute;
    top: 5px;
    width: 1460px;
    height: 150px;
    border: 3px solid rgb(255, 0, 0);
    background-color: rgba(255,0,0,0.1);
}

nav {
    color: rgb(0, 183, 255);
    position: relative;
    right: 0;
    left: 640px;
    font-family: 'Times New Roman', Times, serif;
}

footer {
    position: absolute;
    width: 1460px;
    height: 50px;
    border: 3px solid rgb(255, 255, 255);
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.1);
    p {
        color: white;
        position: relative;
        left: 670px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    }
}

article {
    position: absolute;
    left: 8px;
    top: 160px;
    border: 3px solid rgb(4, 0, 241);
    padding: 5px;
    padding-bottom: 20px;
    background-color: rgba(4, 0, 241, 0.1);
    h2 {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
    }
    p {
        font-family: 'Times New Roman', Times, serif;
        text-align: justify;
        max-width: 500px;
        max-height: 350px;
        line-height: 1.6;
        color: white;
    }
}

article2 {
    position: absolute;
    left: 770px;
    top: 160px;
    border: 3px solid rgb(255, 255, 0);
    padding: 5px;
    padding-bottom: 20px;
    background-color: rgba(255, 255, 0, 0.1);
    h2{
        font-family: Arial, Helvetica, sans-serif;
        color: white;
    }
    p {
        font-family: 'Times New Roman', Times, serif;
        text-align: justify;
        max-width: 500px;
        max-height: 350px;
        line-height: 1.6;
        color: white;
}
}

.figure1 {
    img {
    width: 230px;
    height: 200px;
    position: absolute;
    top: 160px;
    left: 525px;
    border: 3px solid rgb(0, 128, 0);
    padding: 5px;
    background-color: rgba(0, 128, 0, 0.1);
    }
    figcaption {
        position: absolute;
        top: 375px;
        left: 525px;
        width: 230px;
        border: 3px solid rgb(0, 255, 140);
        padding: 5px;
    }
}

.figure2 {
    img {
    width: 230px;
    height: 150px;
    position: absolute;
    top: 425px;
    left: 525px;
    border: 3px solid rgb(0, 128, 0);
    padding: 5px;
    background-color: rgba(0, 128, 0, 0.1);
    }
    figcaption {
        position: absolute;
        top: 590px;
        left: 525px;
        width: 230px;
        border: 3px solid rgb(0, 255, 140);
        padding: 5px;
    }
}

ul {
    padding-left: 20px;
}

ol {
    padding-left: 20px;
    line-height: 25px;
}

figcaption {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    background-color: rgba(0, 255, 140, 0.1);
}

body {
    background-color: black;
    color: white;
}
